# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
# Node modules
**/node_modules/

# OS-specific files (optional)
.DS_Store
Thumbs.db

# VSCode or other editor settings (optional)
.vscode/
.idea/

# snarkjs build artifacts
build/*.zkey
build/verification_key.json
build/Groth16Verifier.sol

powersOfTau28_hez_final_22.ptau